<app-search (onSearchChanged)="onSearchChanged($event)"></app-search>
<app-in-stock-filter
  [countInCategory]="countExisting(products)"
  (selectedButtonFilterChanged)="onFilterChanged($event)"></app-in-stock-filter>
<div class="products_flex-container">
  <div *ngFor="let product of products">
    <app-product
      [product]="product"
      [searchString]="searchString"
      *ngIf="
        filterValue === FilterOptionsNamesEnum.ALL ||
        (filterValue === FilterOptionsNamesEnum.IN_STOCK && product.inStock > 0) ||
        (filterValue === FilterOptionsNamesEnum.OUT_OF_STOCK && product.inStock === 0)
      "></app-product>
  </div>
</div>
